In [1]:
import pandas as pd
df_latlng = pd.read_csv("latlng.csv",skiprows=[0],names=["did","communityName","id","lat","lng"])
df_latlng.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10098 entries, 0 to 10097
Data columns (total 5 columns):
did              10098 non-null int64
communityName    10098 non-null int64
id               10098 non-null object
lat              10098 non-null float64
lng              10098 non-null float64
dtypes: float64(2), int64(2), object(1)
memory usage: 394.5+ KB

In [2]:
house = pd.read_excel("house.xls")
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10106 entries, 0 to 10105
Data columns (total 14 columns):
totalprice     10106 non-null float64
unitprice      10106 non-null int64
position       10106 non-null object
rooms          10106 non-null object
size           10106 non-null float64
orientation    10106 non-null object
decoration     10106 non-null object
elevator       10106 non-null object
area           10106 non-null object
height         10106 non-null object
year           10106 non-null int64
buildtype      10106 non-null object
follow         10106 non-null int64
city           10106 non-null object
dtypes: float64(2), int64(3), object(9)
memory usage: 1.2+ MB

In [3]:
del df_latlng['did']
df_latlng.tail()

       communityName         id        lat         lng
10093          10101       海川阁   22.592468  114.278616
10094          10102      盛世名门   22.555490  114.235915
10095          10103       海川阁   22.592468  114.278616
10096          10104      云顶天海   22.606376  114.312057
10097          10105  中海半山溪谷花园   22.592729  114.249050

In [4]:
df_merge=pd.merge(df_latlng, house, left_on='communityName', right_index=True)
df_merge.tail()

,communityName,id,lat,lng,totalprice,unitprice,position,rooms,size,orientation,decoration,elevator,area,height,year,buildtype,follow,city
10093,10101,海川阁,22.592468,114.278616,270.0,38939,海川阁,2室1厅,69.34,东南,其他,有电梯,盐田港,高,2011,塔楼,1,盐田
10094,10102,盛世名门,22.555490,114.235915,529.0,59991,盛世名门,3室1厅,88.18,东南,其他,有电梯,沙头角,低,2009,板塔结合,1,盐田
10095,10103,海川阁,22.592468,114.278616,180.0,38209,海川阁,1室1厅,47.11,东南,其他,有电梯,盐田港,高,2011,塔楼,1,盐田
10096,10104,云顶天海,22.606376,114.312057,150.0,39216,云顶天海,1室0厅,38.25,东南,其他,有电梯,梅沙,低,2006,板楼,0,盐田
10097,10105,中海半山溪谷花园,22.592729,114.249050,300.0,41012,中海半山溪谷花园,2室1厅,73.15,南 西南,其他,有电梯,盐田港,中,2008,板塔结合,0,盐田

In [25]:
# """4、生成需要的格式文件"""
# out_map = "total.txt"
# with open(out_map,"w") as file_out:
#     for lng,lat,price in zip(list(df_merge["lng"]),list(df_merge["lat"]),list(df_merge["totalprice"])):
# #         out = str(lng)+","+str(lat)
#         out='{\"lng\":'+str(lng)+',\"lat\":'+str(lat)+',\"count\":'+str(price)+'},'
#         file_out.write(out)
#         file_out.write("\n")

In [5]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10098 entries, 0 to 10097
Data columns (total 18 columns):
communityName    10098 non-null int64
id               10098 non-null object
lat              10098 non-null float64
lng              10098 non-null float64
totalprice       10098 non-null float64
unitprice        10098 non-null int64
position         10098 non-null object
rooms            10098 non-null object
size             10098 non-null float64
orientation      10098 non-null object
decoration       10098 non-null object
elevator         10098 non-null object
area             10098 non-null object
height           10098 non-null object
year             10098 non-null int64
buildtype        10098 non-null object
follow           10098 non-null int64
city             10098 non-null object
dtypes: float64(4), int64(4), object(10)
memory usage: 1.5+ MB